python==3.10
numpy
pandas
matplotlib
scikit-learn
torch
torchvision
torchtext
transformers
datasets
huggingface-hub
langchain
fastapi
uvicorn
jupyter
notebook
python-multipart
pydantic
requests
nltk
faiss-cpu
